.banner {
    padding: 30px;
    display: flex;
}

.banner div {
    width: 50%;
}

.banner .banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner .banner-content h2 {
    font-size: 42px;
}

.banner .banner-content p {
    font-size: 16px;
}

.banner-image {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.banner-image img {
    width: 90%;
}